USE [DB_SQL_PAIF_GAMES]
GO
/****** Object:  User [USR_SQL_PAIF_GAMES]    Script Date: 11/10/2025 20:55:28 ******/
CREATE USER [USR_SQL_PAIF_GAMES] FOR LOGIN [USR_SQL_PAIF_GAMES] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [USR_SQL_PAIF_GAMES]
GO
/****** Object:  Table [dbo].[access_control]    Script Date: 11/10/2025 20:55:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[access_control](
	[id_profile] [int] NOT NULL,
	[id_function] [int] NOT NULL,
 CONSTRAINT [PK_access_control_1] PRIMARY KEY CLUSTERED 
(
	[id_profile] ASC,
	[id_function] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[access_function]    Script Date: 11/10/2025 20:55:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[access_function](
	[id_function] [int] NOT NULL,
	[name] [varchar](50) NOT NULL,
	[code] [varchar](15) NOT NULL,
 CONSTRAINT [PK_acess_function] PRIMARY KEY CLUSTERED 
(
	[id_function] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[access_profile]    Script Date: 11/10/2025 20:55:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[access_profile](
	[id_profile] [int] NOT NULL,
	[name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_profile] PRIMARY KEY CLUSTERED 
(
	[id_profile] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[access_users]    Script Date: 11/10/2025 20:55:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[access_users](
	[id_user] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](150) NOT NULL,
	[login] [varchar](30) NOT NULL,
	[password] [varchar](15) NOT NULL,
	[email] [varchar](150) NOT NULL,
	[date_birth] [datetime] NOT NULL,
	[id_profile] [int] NOT NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[company]    Script Date: 11/10/2025 20:55:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[company](
	[id_company] [int] NOT NULL,
	[name] [varchar](150) NOT NULL,
 CONSTRAINT [PK_company] PRIMARY KEY CLUSTERED 
(
	[id_company] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[games]    Script Date: 11/10/2025 20:55:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[games](
	[id_game] [int] NOT NULL,
	[name] [varchar](150) NOT NULL,
	[id_company] [int] NOT NULL,
	[id_type_game] [int] NOT NULL,
	[price] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_games] PRIMARY KEY CLUSTERED 
(
	[id_game] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[promotion]    Script Date: 11/10/2025 20:55:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[promotion](
	[id_promotion] [int] NOT NULL,
	[name] [varchar](150) NOT NULL,
	[discount] [decimal](18, 2) NOT NULL,
	[date_start] [date] NOT NULL,
	[date_end] [date] NOT NULL,
 CONSTRAINT [PK_promotion] PRIMARY KEY CLUSTERED 
(
	[id_promotion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[sale]    Script Date: 11/10/2025 20:55:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sale](
	[id_sale] [int] NOT NULL,
	[date_sale] [date] NOT NULL,
	[id_user] [int] NOT NULL,
	[price_total] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_sale] PRIMARY KEY CLUSTERED 
(
	[id_sale] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[sale_item]    Script Date: 11/10/2025 20:55:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sale_item](
	[id_sale_item] [int] NOT NULL,
	[id_sale] [int] NOT NULL,
	[id_game] [int] NOT NULL,
	[id_promotion] [int] NOT NULL,
	[price] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_sale_item] PRIMARY KEY CLUSTERED 
(
	[id_sale_item] ASC,
	[id_sale] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[type_game]    Script Date: 11/10/2025 20:55:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[type_game](
	[id_type_game] [int] NOT NULL,
	[name] [varchar](150) NOT NULL,
 CONSTRAINT [PK_type_game] PRIMARY KEY CLUSTERED 
(
	[id_type_game] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[access_control]  WITH CHECK ADD  CONSTRAINT [FK_access_control_access_function] FOREIGN KEY([id_function])
REFERENCES [dbo].[access_function] ([id_function])
GO
ALTER TABLE [dbo].[access_control] CHECK CONSTRAINT [FK_access_control_access_function]
GO
ALTER TABLE [dbo].[access_control]  WITH CHECK ADD  CONSTRAINT [FK_access_control_access_profile] FOREIGN KEY([id_profile])
REFERENCES [dbo].[access_profile] ([id_profile])
GO
ALTER TABLE [dbo].[access_control] CHECK CONSTRAINT [FK_access_control_access_profile]
GO
ALTER TABLE [dbo].[access_users]  WITH CHECK ADD  CONSTRAINT [FK_access_users_access_profile] FOREIGN KEY([id_profile])
REFERENCES [dbo].[access_profile] ([id_profile])
GO
ALTER TABLE [dbo].[access_users] CHECK CONSTRAINT [FK_access_users_access_profile]
GO
ALTER TABLE [dbo].[games]  WITH CHECK ADD  CONSTRAINT [FK_games_company] FOREIGN KEY([id_company])
REFERENCES [dbo].[company] ([id_company])
GO
ALTER TABLE [dbo].[games] CHECK CONSTRAINT [FK_games_company]
GO
ALTER TABLE [dbo].[games]  WITH CHECK ADD  CONSTRAINT [FK_games_type_game] FOREIGN KEY([id_type_game])
REFERENCES [dbo].[type_game] ([id_type_game])
GO
ALTER TABLE [dbo].[games] CHECK CONSTRAINT [FK_games_type_game]
GO
ALTER TABLE [dbo].[sale]  WITH CHECK ADD  CONSTRAINT [FK_sale_access_users] FOREIGN KEY([id_user])
REFERENCES [dbo].[access_users] ([id_user])
GO
ALTER TABLE [dbo].[sale] CHECK CONSTRAINT [FK_sale_access_users]
GO
ALTER TABLE [dbo].[sale_item]  WITH CHECK ADD  CONSTRAINT [FK_sale_item_games] FOREIGN KEY([id_game])
REFERENCES [dbo].[games] ([id_game])
GO
ALTER TABLE [dbo].[sale_item] CHECK CONSTRAINT [FK_sale_item_games]
GO
ALTER TABLE [dbo].[sale_item]  WITH CHECK ADD  CONSTRAINT [FK_sale_item_promotion] FOREIGN KEY([id_promotion])
REFERENCES [dbo].[promotion] ([id_promotion])
GO
ALTER TABLE [dbo].[sale_item] CHECK CONSTRAINT [FK_sale_item_promotion]
GO
ALTER TABLE [dbo].[sale_item]  WITH CHECK ADD  CONSTRAINT [FK_sale_item_sale] FOREIGN KEY([id_sale])
REFERENCES [dbo].[sale] ([id_sale])
GO
ALTER TABLE [dbo].[sale_item] CHECK CONSTRAINT [FK_sale_item_sale]
GO
